.items-card {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
}
.image-container {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  width: 25em;
}
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content {
  width: 100%;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5rem;
  padding-left: 10rem;
  position: relative;
}
.title {
  text-transform: capitalize;
}
.price-container {
  display: flex;
  align-items: flex-end;
  gap: 2rem;
  color: var(--blue);
}
.original-price {
  text-decoration: line-through;
  color: #a9a9a9;
}

.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.quantity p {
  width: 2rem;
  text-align: center;
  color: var(--blue);
}
.quantity-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0.5rem 0.8rem;
  /* background-color: var(--blue); */
  /* background-color: ; */
}
.quantity-btn svg {
  color: var(--blue);
  font-size: 2.5rem !important;
  cursor: pointer;
  transition: 0.3s ease all;
}
.quantity-btn:hover {
  transform: scale(1.1);
}
.quantity-btn:active {
  transform: scale(0.9);
}
.btn-container {
  display: flex;
  width: 100%;
  gap: 1rem;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: transparent;
  padding: 1rem 2rem;
  outline: none;
  color: var(--blue);
  border: 2px solid var(--blue);
  font-size: 1.5rem;
  cursor: pointer;
  width: 100%;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.delete-icon {
  transform: scale(1.5);
  color: var(--blue);
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background-color: var(--blue);
  color: white;
}
.btn:hover .delete-icon {
  color: white;
}
.btn:active {
  transform: scale(0.9);
}

/* LOADER */
/* Wislist laoder */

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
}
.overlay {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.001);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  z-index: 10;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  /* border: 6px solid var(--blue-hover); */
  border: 6px solid var(--neutral400);
  border-color: var(--neutral400) transparent var(--neutral400) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (hover: none) {
  .quantity-btn:hover svg {
    background-color: transparent;
    color: var(--blue);
  }
}
@media screen and (max-width: 80em) {
  .content {
    padding: 0 2rem;
  }
  .image-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .image-container {
    width: 30rem;
  }
}

@media screen and (max-width: 43.75em) {
  .items-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 35rem;
    margin: 0 auto;
  }
  .image-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .content {
    padding-left: 0;
    gap: 2rem;
  }
  .btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
  }
  .btn {
    width: 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 37.5em) {
  .image-container {
    width: 25rem;
  }
}

@media screen and (max-width: 28.125em) {
  .image-container {
    width: 20rem;
  }
}
