.container {
  /* max-width: 50rem;
  margin: 0 auto; */
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.empty {
  width: 100%;
  text-align: center;
}
.new-address {
  display: flex;
}
.new-address .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: transparent;
  padding: 1rem 2rem;
  outline: none;
  color: #000;
  border: 2px solid #000;
  font-size: 1.5rem;
  cursor: pointer;
  width: 30rem;
  align-items: flex-start;
  transition: all 0.3s ease-in-out;
}
.new-address .btn:hover {
  border-color: var(--blue);
  background-color: var(--blue);
  color: #fff;
}

.addresses {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem 0;
  overflow-y: scroll;
}

@media screen and (max-width: 64em) {
  .addresses {
    justify-content: center;
  }
}
@media screen and (max-width: 50em) {
  .addresses {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 47.5em) {
  .new-address {
    justify-content: center;
    display: flex;
  }
}
