.nav {
  position: sticky;
  top: 0;
  z-index: 101;
  background-color: #fff;
}
.navbar {
  position: relative;
  min-height: 6rem;
  z-index: 100;
  display: flex;
  padding: 1rem;
  box-shadow: 0px 5px 10px -15px #000;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 5rem;
}

.navbar_brand a {
  font-size: 3rem;
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nav-icons {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.icon {
  cursor: pointer;
  transform: scale(2);
  color: #000;
}
.search-item {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  position: relative;
}

.search-item input {
  position: absolute;
  right: 20px;
  border: 1px solid var(--primary);
  padding: 5px 10px;
  border-radius: 1.2rem;
  outline: none;
  transition: all 0.5s ease;
  font-size: 1.6rem;
  font-weight: 400;
}
.search-item input:focus,
.search-item input:hover {
  border: 1px solid var(--primary);
}

.search-hide {
  width: 0;
  opacity: 0;
}
.search {
  width: 20rem;
  opacity: 1;
}

.cart-icon {
  width: 100%;
}
.cart-icon-container {
  position: relative;
  width: 3rem;
}
.cart-quantity {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 56.25em) {
  .navbar {
    padding: 2rem 3rem;
  }

  .search-item {
    display: none;
  }
  .cart-icon-container {
    width: 2.5rem;
  }
  .icon {
    font-size: 2rem !important;
    position: relative;
    z-index: 101;
  }
}
@media only screen and (max-width: 43.75em) {
  /* 700px */
  .navbar_brand a {
    z-index: 101;
  }
}
@media screen and (max-width: 37.5em) {
}
