.main {
  padding: 5rem;
  min-height: 50vh;
}
.heading {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: flex-start;
}
.cart-icon {
  width: 100%;
}
.cart-icon-container {
  position: relative;
  width: 3.5rem;
}
.cart-quantity {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.empty {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  gap: 2rem;
}

.btn {
  background-color: var(--primary);
  color: #fff !important;
  padding: 0.2rem 3rem;
  border-radius: 2px;
  font-size: 1.5rem;
  font-weight: 300;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  border: 1px solid transparent;
}
.btn:hover {
  background-color: #fff;
  border: 1px solid var(--primary);
  color: var(--primary) !important;
}

@media only screen and (max-width: 56.25em) {
  .main {
    padding: 4rem 3rem;
  }
}
