*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary: #353535;
  --blue: #384972;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
  overflow-x: hidden;
}
a,
a:visited,
a:link {
  text-decoration: none;
  color: var(--primary);
}
.MuiTypography-root {
  font-family: "Poppins", sans-serif !important;
  font-size: 2rem !important;
}
.Mui-checked {
  color: var(--blue) !important;
}
.MuiCheckbox-root {
  color: var(--blue) !important;
  transform: scale(1.4);
  margin-right: 1rem !important;
}
/* Media query manager
0-600px : Phone
600-900 : Tablet portrait
900-1200 : Tablet Landscape
1800px+ : Big Desktop
2500px+ : Ultra Big Desktop for zoom purpose
*/

/* @media only screen and (max-width: 75em) {
  1200 */
@media only screen and (max-width: 56.25em) {
  /*900*/
  html {
    font-size: 56.25%; /*1REM = 11.2px*/
  }
}

@media screen and (max-width: 37.5em) {
  /*600*/
  html {
    font-size: 48%; /*1REM = 8px*/
  }
}
@media only screen and (min-width: 112.5em) {
  /*1800*/
  html {
    font-size: 75%; /*1REM = 14.4px*/
  }
}
