/* SIZES */
.text-xxxl {
  font-size: 8.5rem;
  line-height: 9.5rem;
}
.text-xxxxl {
  font-size: 10rem;
  line-height: 11rem;
}
.text-xl {
  font-size: 6.5rem;
  line-height: 7.5rem;
}
.text-l {
  font-size: 4.5rem;
  line-height: 5.5rem;
}
.text-m {
  font-size: 3.5rem;
  line-height: 4.5rem;
}
.text-s {
  font-size: 2.5rem;
  line-height: 3.5rem;
}
.text-xs {
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.text-xxs {
  font-size: 1.2rem;
  line-height: 2.2rem;
}
/* WEIGHTS */
.text-700 {
  font-weight: 700;
}
.text-600 {
  font-weight: 600;
}
.text-500 {
  font-weight: 500;
}
.text-400 {
  font-weight: 400;
}
.text-300 {
  font-weight: 300;
}
.text-200 {
  font-weight: 200;
}

@media screen and (max-width: 64em) {
  .text-s {
    /* font-size: 3rem; */
    /* line-height: 4rem; */
  }
}
