.address-card {
  width: 40rem;
  background-color: var(--blue) !important;
  border: 2px solid var(--blue) !important;
  color: #fff;
  position: relative;
}
.selected-tag {
  font-size: 1rem;
  background-color: var(--blue-hover);
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  flex: 0;
  padding: 2px 10px;
  display: inline-block;
  color: #fff;
  position: absolute;
  top: 0px;
  right: 0px;
}
.address-card:hover {
  background-color: var(--blue-hover) !important;
  border: 2px solid var(--blue-hover) !important;
  color: #fff;
}

.address-card:hover {
  background-color: var(--blue-hover) !important;
  border: 2px solid var(--blue-hover) !important;
  color: #fff;
}

.address {
  border: 2px solid #000;
  padding: 1rem 3rem;
  max-width: 50rem;
  cursor: pointer;
  transition: 0.3s ease all;
}
.name {
  display: flex;
  gap: 1rem;
}
.address:hover {
  background-color: var(--blue-hover);
  border-color: var(--blue);
  color: #fff;
}
.selected {
  border: 2px solid #000 !important;
  color: #fff;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: transparent;
  padding: 1rem 2rem;
  outline: none;
  color: #fff;
  border: 2px solid #fff;
  font-size: 1.5rem;
  cursor: pointer;
  width: 80%;
  align-items: flex-start;
  transition: all 0.3s ease-in-out;
}
.btn:active {
  transform: scale(0.9);
}
@media (hover: none) {
  .address:hover {
    background-color: transparent;
    border-color: #000;
    color: #000;
  }
  .address-card:hover {
    background-color: var(--blue) !important;
    border: 2px solid var(--blue) !important;
    color: #fff;
  }
}

@media screen and (max-width: 50em) {
  .address {
    flex: 1;
  }
  .address-card {
    margin: 0 auto !important;
    width: 100% !important;
  }
}
